
.blog-paper {
  margin-top : 10px;
  padding-left: 0px;
  padding-right: 0px;
  border-top: #000000;
  border-top-style: dashed;

   > div {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}
