

$max-width : 300px;
$form-margin : 25px;
$radius : 5px;

$submit-btn-width : 100px;

.full-width-section {

  max-width: $max-width;
  margin: 0 auto;
  box-sizing: border-box;

  .form-item-fullwidth {
    width: 100%;
    margin-top: 5px;
  }

  .form-item-right {
    width: $submit-btn-width;
    border-radius: $radius;
    margin-left: $max-width - $submit-btn-width;
    margin-top: 5px;
  }

  textarea {
    height: 100px;
    padding: 10px 10px 10px 10px;
    border-radius: $radius;
    resize : none;
    background-color: $grey-900;
    color: $green-A400;
  }
}


