$max-width : 650px;
$form-margin : 25px;

.get-started-page {
  .full-width-section {
    max-width: $max-width;
    margin: 0 auto;

    .form-item {
      width: 100%;
      margin-top: 24px;
    }
  }
}


